@media (min-width: 1200px) {
    .container{
        max-width: 1000px;
    }
}

body, h1, h2, h3, p, ul li, ol li {
    font-family: Charter, Georgia, Helvetica, Arial, KaiTi, sans-serif;
}

body, p {
    font-size: 18px;
}

h1, h2 {
    font-size: 24px;
    font-weight: 700;
}

ul li {
    font-size: 18px;
}

ol li {
    font-size: 16px;
}
